SOAP - C# E PHP/WSphp/WSphp/Web References/Jemix/soap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:http://jemiaymen.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:http://jemiaymen.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:http://jemiaymen.com">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addRequest">
    <wsdl:part name="a" type="xsd:int" />
    <wsdl:part name="b" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="divRequest">
    <wsdl:part name="a" type="xsd:int" />
    <wsdl:part name="b" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="divResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:portType name="Jemix WS PortType">
    <wsdl:operation name="add">
      <documentation>A simple add web method</documentation>
      <wsdl:input message="tns:addRequest" />
      <wsdl:output message="tns:addResponse" />
    </wsdl:operation>
    <wsdl:operation name="div">
      <documentation>A simple div web method</documentation>
      <wsdl:input message="tns:divRequest" />
      <wsdl:output message="tns:divResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Jemix WS Binding" type="tns:Jemix WS PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="add">
      <soap:operation soapAction="http://localhost/ws/soap.php/add" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://jemiaymen.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://jemiaymen.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="div">
      <soap:operation soapAction="http://localhost/ws/soap.php/div" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://jemiaymen.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://jemiaymen.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Jemix WS ">
    <wsdl:port name="Jemix WS Port" binding="tns:Jemix WS Binding">
      <soap:address location="http://localhost/ws/soap.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>